<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>

  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="Off"/>
  </system.web>

  <system.serviceModel>
    <services>
      <service name="ESKServices.ESKServices" behaviorConfiguration="ESKServicesBehavior">
        <endpoint address="" binding="webHttpBinding" contract="ESKServices.IESKServices" behaviorConfiguration="ESKServicesBehaviorWEB"></endpoint>
      </service>
    </services>

    <bindings>
      <webHttpBinding>
        <binding>
          <security mode="Transport">
            <transport clientCredentialType="InheritedFromHost"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="ESKServicesBehavior">
          <!--Чтобы избежать раскрытия метаданных, до развертывания задайте следующим параметрам значение "false". -->
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true"/>
          <!-- Чтобы при сбое получать подробные сведения об исключении для целей отладки, установите для нижеприведенного параметра значение true.  Перед развертыванием установите значение false, чтобы избежать раскрытия информации об исключении -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <!--<serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="ESItemsService.CustomUserNameValidator, ESItemsService"/>
          </serviceCredentials>-->
          <serviceAuthorization serviceAuthorizationManagerType =" ESKServices.RestAuthorizationManager, ESKServices"/>
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="ESKServicesBehaviorWEB">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <protocolMapping>
      <add binding="webHttpBinding" scheme="https"/>
    </protocolMapping>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>


  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Для просмотра корневого каталога веб-приложения во время отладки установите значение true.
        Перед развертыванием установите значение false, чтобы избежать раскрытия сведений в папке веб-приложения.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>
